
@{
    ViewData["Title"] = "Home Page";
}


@foreach (Partido p in ViewBag.ListadoPartidos)
{
    <div class="card" style="width: 18rem;">
        <img src='@p.logo' class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@p.nombre</h5>
            <a href='@Url.Action("VerDetallePartido", "Home",  new {idPartido = @p.idPartido})' class="btn btn-primary">Más Información</a>
        </div>
    </div>
}
